@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@300;400;700&display=swap');
@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/vantagem.css);
@import url(styles/plano.css);
@import url(styles/pergunta.css);
@import url(styles/rodape.css);
@import url(styles/contato.css);

:root {
    --bg-title: #000118;
    --bg-color: #1A1C2C;
    --sub-bg: #D9D9D9;
    --effect-color: #22D4FD;
    --primary-color: #FFFFFF;
    --secundary-color:#000000;
    --banner-color: radial-gradient(farthest-corner at 0% 0%, #24D4FD, #000118);
    --grey: #D9D9D9;
    --primary-font: "Inter";
    --secundary-font: "Lato";
}

body {
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
}

/* Responsividade Desktop */

@media screen and (min-width: 1728px) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--secundary-color);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 35px;
        background-color: var(--effect-color);
        
    }
}