.container__contato {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    padding: 1rem;
}

.contato__caixa {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px var(--secundary-color);
    margin: 5rem 0;
    width: 20rem;
}

.contato__titulo {
    font-weight: 700;
    font-size: 1.375rem;
    color: var(--secundary-color);
    margin: 1rem 0 1rem 1rem;
}

.contato__texto {
    font-family: var(--secundary-font);
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--secundary-color);
    margin: 1rem;
    padding-right: 1rem;
}

.contato__contato {
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 1rem;
}

.contato__icone {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.contato__contato-titulo {
    color: var(--secundary-color);
    font-size: 0.875rem;
    font-weight: 700;
    font-family: var(--secundary-font);
    margin-bottom: 0.25rem;
}

.contato__contato-texto {
    color: var(--secundary-color);
    font-size: 0.875rem;
    font-weight: 400;
    font-family: var(--secundary-font);
}

.contato__contato-btn {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 0.875rem;
    background-image: url(../img/btn.png);
    background-size: 100% 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 1rem 3rem 1rem 1rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.contato__redes {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}


.banner__redes-btn {
    text-decoration: none;
    background-color: var(--bg-title);
    border-radius: 50px;
    height: 2.25rem;
    width: 2.25rem;
    margin: 0.5rem;
}

.banner__redes-btn i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    width: 2.25rem;
    color: var(--primary-color);
}

/* Responsividade Tablet */

@media screen and (min-width: 720px) {
    .contato__titulo {
        font-size: 1.625rem;
    }

    .contato__texto {
        font-size: 1rem;
    }

    .contato__contato-titulo,
    .contato__contato-texto {
        font-size: 1rem;
    }

    .contato__contato-btn {
        font-size: 1rem;
    }

    .contato__caixa {
        width: 22em;
    }

    .contato__icone {
        width: 2.55em;
        height: 2.55em;
    }

}

/* Responsividade Desktop */

@media screen and (min-width: 1440px) {
    
    .contato__contato-btn:hover {
        transition: all 1s;
        background-image: url(../img/btn-hover.png);
        color: var(--primary-color);
    }

    .banner__redes-btn i:hover{
        transition: 0.6s;
        color: var(--effect-color);
    }
}