.container__sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color);
    height: 90vh;
    padding: 1rem;
}

.sobre__conteudo {
    margin: 3rem 0;
}

.sobre__titulo {
    font-weight: 700;
    font-size: 1.375rem;
    color: var(--primary-color);
    text-align: center;
    margin: 5rem 0 3rem 0;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 2rem;
}

.sobre__titulo--azul {
    color: var(--effect-color);
}

.sobre__texto {
    font-family: var(--secundary-font);
    font-weight: 400;
    font-size: 1rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
}

.sobre__btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 0.875rem;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #22D4FD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #22D4FD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
    padding: 1rem 1.5rem;
    margin: 2rem 0;
}

/* Responsividade Tablet */

@media screen and (min-width: 720px) {
    .sobre__titulo {
        font-size: 1.625rem;
        margin: 1em 0;
    }

    .sobre__texto {
        margin: 2em 6em;
    }

    .sobre__btn {
        font-size: 1rem;
    }

    .sobre__conteudo {
        margin: 3em 6em;
    }

    .sobre__btn:hover {
        transition: 0.6s;
        background: linear-gradient(to right, #22D4FD, #0072ff);
        box-shadow: 0 0 2em var(--effect-color);
    }
}

/* Responsividade Desktop */

@media screen and (min-width: 1440px) {
    .sobre__texto {
        font-size: 1.125rem;
    }

    .sobre__conteudo {
        padding: 0 10em;
        width: 60%;
    }

    .container__sobre {
        height: 50%;
    }
}