.container__banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.banner__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4em;
}

.banner__img {
    width: 100%;
    height: 16.66rem;
    margin: 3em 0;
}

.banner__titulo {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.25rem;
}

.banner__texto {
    font-family: var(--secundary-font);
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary-color);
    margin: 1.75em 1.5em;
}

.banner__btn {
    display: flex;
    justify-content: space-around;
    margin: 1em 1.5em 3em 1.5em;
}

.banner__contato {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 0.875rem;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #22D4FD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #22D4FD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
    padding: 1em;
    white-space: nowrap;
}

.banner__contato-img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5em;
}

.banner__saiba-mais {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 0.875rem;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 1em;
    white-space: nowrap;
}

.banner__saiba-mais-img {
    width: 1.5rem;
    height: 1.5rem;
}

.banner__redes {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1rem;
    margin-left: 0.5em;
    margin-bottom: 1em;
}

.banner__redes-sociais {
    display: inline-block;
    margin: 0.5em;
}

.banner__redes-btn {
    text-decoration: none;
    margin-right: 1em;
}

.banner__redes-btn-img {
    width: 1.75rem;
    height: 1.75rem;
}

.banner__redes_container {
    margin-left: 1.5em;
    align-self: flex-start;
}

.banner__espaco {
    width: 100%;
    background-color: transparent;
    height: 2em;
}


/* Responsividade para alguns celulares */

@media screen and (max-width: 375px) {
    .banner__img {
        margin: 0;
    }

    .banner__contato, .banner__saiba-mais {
        font-size: 0.75rem;
        white-space: nowrap;
    }
}

@media screen and (max-width: 360px) {
    .banner__img {
        margin-top: 5em;
    }

    .banner__contato, .banner__saiba-mais {
        font-size: 0.75rem;
        white-space: nowrap;
    }
}

/* Responsividade Tablet */

@media screen and (min-width: 720px) {
    .container__banner {
        display: flex;
        flex-direction: column;
        padding: 0 5em;
    }

    .banner__center {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .banner__img {
        margin: 0;
        width: 30em;
        height: 20em;
        padding-top: 3em;
    }

    .banner__conteudo {
        text-align: left;
        justify-content: center;
    }

    .banner__titulo {
        margin-left: 0.7em;
        font-size: 2.2rem;
    }

    .banner__texto {
        font-size: 1rem;
        font-weight: 700;
    }

    .banner__btn {
       display: flex;
       justify-content: flex-start;
       margin: 2em 1.5em;
    }

    .banner__contato {
        font-size: 0.875rem;
        margin-right: 0.5em;
        padding: 0.5em;
    }

    .banner__saiba-mais {
        font-size: 0.875rem;
    }

    .banner__redes_container {
        align-self: flex-start;
        width: 100%;
        margin: 0;
    }
    
    .banner__contato:hover {
        transition: 0.6s;
        background: linear-gradient(to right, #22D4FD, #0072ff);
        box-shadow: 0 0 2em var(--effect-color);
    }

    .banner__saiba-mais:hover {
        transition: 0.6s;
        box-shadow: 0 0 2em var(--effect-color);
    }

    .banner__redes-btn-img:hover {
        transition: 0.6s;
        border-radius: 100%;
        background-color: #0072ff;
        box-shadow: 0 0 2em var(--effect-color);
    }
}

/* Responsividade Desktop */

@media screen and (min-width: 1440px) {
    .container__banner {
        padding: 0 15em;
    }

    .banner__center {
        width: 100%;
        justify-content: space-between;
    }

    .banner__titulo {
        font-size: 2.5em;
    }

    .banner__texto {
        font-size: 1.2em;
    }

    .banner__img {
        width: 40em;
        height: 30em;
    }

    .banner__btn {
        gap: 1em;
    }

    .banner__redes_container {
        width: 30%;
    }

    .banner__redes-btn-img {
        width: 30px;
        height: 30px;
    }
}