.container__contato {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    padding: 1rem;
}

.contato__caixa {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px var(--secundary-color);
    margin: 5rem 0;
    width: 20rem;
}

.contato__titulo {
    font-weight: 700;
    font-size: 1.375rem;
    color: var(--secundary-color);
    margin: 1rem 0 1rem 1rem;
}

.contato__texto {
    font-family: var(--secundary-font);
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--secundary-color);
    margin: 1rem 0 1rem 1rem;
}

.contato__contato {
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 1rem;
}

.contato__icone {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.contato__contato-titulo {
    color: var(--secundary-color);
    font-size: 0.875rem;
    font-weight: 700;
    font-family: var(--secundary-font);
}

.contato__contato-texto {
    color: var(--secundary-color);
    font-size: 0.875rem;
    font-weight: 400;
    font-family: var(--secundary-font);
}

.contato__contato-btn {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 0.875rem;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #22D4FD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #22D4FD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 1rem 3rem 1rem 1rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.contato__redes {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.contato__redes-btn-img {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0.5rem;
}

/* Responsividade Tablet */

@media screen and (min-width: 720px) {
    .contato__titulo {
        font-size: 1.625rem;
    }

    .contato__texto {
        font-size: 1rem;
    }

    .contato__contato-titulo, .contato__contato-texto {
        font-size: 1rem;
    }

    .contato__contato-btn {
        font-size: 1rem;
    }

    .contato__caixa {
        width: 22em;
    }

    .contato__icone {
        width: 2.55em;
        height: 2.55em;
    }

    .contato__redes-btn-img{
        width: 1.66em;
        height: 1.66em;
    }

    .contato__contato-btn:hover {
        transition: 0.6s;
        color: var(--effect-color);
    }

    .contato__redes-btn-img:hover {
        transition: 0.6s;
        border-radius: 100%;
        background-color: var(--effect-color);
    }

}
/* Responsividade Desktop */

@media screen and (min-width: 1440px) {
    .contato__contato-btn {
        background: var(--secundary-color);
    }
}