.suporte {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22vh;
    border-bottom: 0.1em solid var(--grey);
}

.suporte__ajuda {
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 700;
    margin: 2em;
}

.contrato__titulo {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
    margin: 2em 2em 0 2em;
}

.contrato__texto {
    font-size: 16px;
    font-family: var(--secundary-font);
    font-weight: 300;
    color: var(--primary-color);
    margin: 1em 2em;
}

.ajuda__titulo {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
    margin: 2em 2em 0 2em;
}

.ajuda__texto {
    font-size: 16px;
    font-family: var(--secundary-font);
    font-weight: 300;
    color: var(--primary-color);
    margin: 1em 2em 2.2em 2em;
}

.fundo {
    background: var(--banner-color);
}

/* Responsividade Tablet */

@media screen and (min-width: 1024px) {
    .suporte {
        height: 28vh;
    }

    .contrato, .ajuda {
        width: 60%;
        margin-left: 30vh;
    }
}

/* Responsividade Desktop */

@media screen and (min-width: 1728px) {
    .suporte {
        height: 28vh;
    }

    .contrato, .ajuda {
        width: 40%;
        margin-left: 50vh;
    }

    .contrato {
        margin-top: 10vh;
    }

    .ajuda {
        margin-top: 8vh;
    }

    .ajuda__texto {
        margin-bottom: 5em;
    }
}