@keyframes color-text {
    0% {
       color: #fc4a1a;
    }
    
    25% {
        color: #FF0080;
    }
    
    50% {
        color: #40E0D0;
    }
    
    75% {
        color: #FF0080;
    }
    
    100% {
       color: #fc4a1a;
    }
}

.container__rodape {
    background: var(--bg-title);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.rodape__img {
    width: 4rem;
    height: 2rem;
    margin-top: 1rem;
}

.rodape__direito {
    font-family: var(--secundary-font);
    font-weight: 300;
    color: var(--grey);
    font-size: 0.75rem;
    padding: 1rem 0;
}

.credito {
    font-family: var(--secundary-font);
    font-weight: 300;
    color: var(--grey);
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.credito__link {
    text-decoration: none;
    font-weight: 700;
    color: var(--effect-color);
}

/* Responsividade Tablet */

@media screen and (min-width: 720px) {
    .rodape__direito {
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
    }

    .rodape__img {
        width: 5rem;
        height: 2.5rem;
    }

    .credito {
        font-size: 0.875rem;
        margin-bottom: 1rem;
    }

    .credito__link {
        color: var(--grey);
    }

    .credito__link:hover {
        animation: color-text 6s ease infinite;
    }
}