.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 1.5em 0 1.5em;
    border-top: 2px solid var(--effect-color);
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1;
}

.header__img-mobile {
    width: 6rem;
    height: 3rem;
}

.cabeçalho__menu {
    width: 1.5px;
    height: 1.5px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.container__rotulo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__botao:checked~ .container__rotulo > .cabeçalho__menu {
    background-image: url(../assets/MenuAberto.svg);
}

.container__botao:checked~ .container__rotulo {
    width: 3em;
    height: 2.5em;
    border-radius: 8px;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #22D4FD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #22D4FD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container__imagem {
    padding: 1em;
    width: 3em;
    height: 2.5em;
    border-radius: 8px;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    right: 0;
    z-index: 1;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__item {
    padding: 1em 1.5em;
    list-style-type: none;
    text-align: end;
    font-weight: 700;
}

.lista-menu__link {
    color: var(--primary-color);
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none ;
}

.opcoes {
    display: none;
}

.header__logo {
    display: none;
}

.logo__link {
    display: none;
}

/* Responsividade Tablet */

@media screen and (min-width: 720px) {
    .container__rotulo {
        display: none;
    }

    .header__img-mobile {
        display: none;
    }
    
    .header__logo {
        display: flex;
        align-items: center;
    }
    .header__img{
        width: 3.5rem;
        height: 3.5rem;
        margin-left: 1em;
    }
    .logo__link {
        display: block;
    }

    .logo__link {
        text-decoration: none;
        color: var(--primary-color);
        font-weight: 700;
        font-size: 24px;
    }
    
    .logo__link-azul {
        color: var(--effect-color);
    }

    .opcoes {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .lista-menu__link {
        padding: 1em 2em;
        font-weight: 700;
    }

    .lista-menu__link:hover {
        transition: 0.6s;
        background-color: var(--effect-color);
        letter-spacing: 0.2em;
        border-bottom: 1px solid var(--effect-color);
    }
}

/* Responsividade Desktop */

@media screen and (min-width: 1440px) {
    .header__nav {
        width: 100%;
    }

    .header__logo {
        margin-left: 1.5em;
    }
    
    .opcoes {
        display: flex;
        justify-content: right;
        margin-right: 3em;
    }
}