@keyframes color {
    0% {
        background: #0052D4;
    }
    
    25% {
        background: #4364F7;
    }
    
    50% {
        background: #6FB1FC;
    }
    
    75% {
        background: #4364F7;
    }
    
    100% {
        background: #0052D4;
    }
}

.container__plano {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #000118;
    animation: color 20s ease infinite;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.plano__titulo {
    font-weight: 700;
    font-size: 1.375rem;
    color: var(--primary-color);
    margin: 2rem 0 1rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 4rem 1.5rem;
    border-radius: 2rem;
    width: 18rem;
}

.card__titulo {
    color: var(--secundary-color);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}

.card__imagem {
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
}

.card__descricao {
    font-family: var(--secundary-font);
    font-size: 0.875rem;
    margin: 0 2rem 1rem 2rem;
    text-align: center;
}

/* Responsividade Tablet */

@media screen and (min-width: 720px) {

    .plano__card {
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .card {
        width: 40rem;
        margin: 1rem;
    }

    .card__imagem {
        width: 8rem;
        height: 8rem;
    }

    .card__titulo {
        font-size: 1.125rem;
    }

    .card__descricao {
        font-size: 1rem;
    }

    .plano__titulo {
        margin-bottom: 3rem;
    }
}

/* Responsividade Desktop */

@media screen and (min-width: 1440px) {

    .plano__card {
        display: flex;
        width: 80rem;
        gap: 2rem;
    }

    .plano__titulo {
        font-size: 1.625em;
    }

}