.rodape {
    background: var(--bg-title);
}

.rodape-container__imagem {
    text-align: center;
}
.rodape__imagem {
    width: 2em;
    height: 2em;
    padding-top: 1em;
    
}

.rodape__direito {
    font-family: var(--secundary-font);
    font-weight: 300;
    color: var(--grey);
    font-size: 12px;
    text-align: center;
    padding: 1em 2em 2em 2em;
}

.lista {
    display: flex;
    justify-content: center;
}

.lista__link{
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--secundary-font);
    font-size: 12px;
    font-weight: 700;
    margin: 0 1em;
}

.lista__imagem {
    display: none;
}

/* Responsividade Tablet */

@media screen and (min-width: 1024px) {
    .lista__link {
        font-size: 14px;
        margin-right: 0 2em 0 0;
    }

    .lista__link:hover {
        color: var(--effect-color);
    }

    .rodape__imagem {
        width: 3em;
        height: 3em;
        padding-top: 2em;   
    }
    
    .container__lista {
        display: flex;
        align-items: center;
    }

    .lista__imagem {
        width: 1em;
        height: 1em;
        display: block;
    }

    .rodape__direito {
        font-size: 14px;
    }
}

/* Responsividade Desktop */

@media screen and (min-width: 1728px) {
    .lista__imagem {
            width: 1.5em;
            height: 1.5em;
    }
}