.container__serviço {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color);
    padding: 1em;
}

.serviço__bloco {
    display: flex;
    align-items: center;
    margin: 4em 1.5em;
}

.serviço__titulo {
    font-weight: 700;
    font-size: 1.375rem;
    color: var(--primary-color);
    text-align: center;
    margin: 2em 0 3em 0;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 2em;
}

.serviço__imagem {
    width: 5em;
    height: 5em;
}

.serviço__conteudo {
    margin-left: 1em;
}

.serviço__texto, .serviço__descricao {
    color: var(--primary-color);
    font-family: var(--secundary-font);
    margin-bottom: 0.3em;
}

.serviço__texto {
    font-size: 1rem;
    font-weight: 700;
}

.serviço__descricao {
    font-size: 0.875rem;
}

/* Responsividade Tablet */

@media screen and (min-width: 1024px) {
    .serviço__container {
        display: flex;
    }

    .serviço__bloco {
        display: flex;
        flex-direction: column;
    }

    .serviço__conteudo {
        text-align: center;
        margin: 0;
    }

    .serviço__imagem {
        margin-bottom: 1em;
        width: 6em;
        height: 6em;

    }

    .serviço__titulo {
        font-size: 1.625em;
    }

    .serviço__texto {
        font-size: 1.125rem;
    }

    .serviço__descricao {
        font-size: 1rem;
    }
}

/* Responsividade Desktop */

@media screen and (min-width: 1440px) {
    .serviço__imagem {
        width: 8em;
        height: 8em;
    }

    .serviço__texto {
        font-size: 1.5rem;
    }

    .serviço__descricao {
        font-size: 1.125rem;
    }
}